body {
  margin: 0;
}

.main {
  font-family: Lato, Helvetica;
  transform: translateY(-32px);
}
.banner {
  background-image: url("../img/banner.png");
  height: 200px;
  background-size: contain;
  background-position: center;
  width: 100%;
  min-width: 1000px;
}

.banner p {
  text-align: center;
  line-height: 200px;
  color: white;
  font-weight: 400;
  font-size: 32px;
}

ul {
  list-style: none;
  padding: 0;
}

.group {
  content: "";
  float: left;
  display: block;
}

.tag-box {
  height: 80px;
  width: 100%;
}

.tag-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
  min-width: 1000px;
  list-style: none;
  display: flex;
  text-align: center;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  color: rgb(85, 172, 238);
}

.tag:last-child {
  border-right: none;
}

.tag {
  border-right: 1px solid #ddd;
  background: white;
  padding: 0px 20px 0px 20px;
  min-width: 125px;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  text-align: center;
}

.tag:hover{
  border-bottom: 5px solid rgb(85, 172, 238);
  cursor: pointer;
}

.rewardList {
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
}

.rewardDescript {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  height: 35px;
}

.edit {
  width: 20%;
  float: left;
}

.stat-left {
  width: 40%;
  float: left;
}

.stat-right {
  width: 40%;
  float: right;
}

.active {
  border-bottom: 5px solid rgb(85, 172, 238);
}

.tagSearch input {
  height: 80px;
  width: 68%;
  outline: none;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  border: none;
}

.filterExit {
  float: right;
  font-size: 50px;
  width: 10%;
  line-height: 80px;
  color: #aaa;
  height: 80px;
}

.filterExit:hover {
  cursor: pointer;
}

.tagSearch {
  height: 82px;
  border-bottom: 1px solid #ddd;
}
